# TODIM Ranking

In [1]:
import math                      # for sqrt and other functions
import numpy as np               # for linear algebra
import pandas as pd              # for tabular output
from scipy.stats import rankdata # for ranking the candidates

# Step 0 - Obtaining and preprocessing data

In [2]:
attributes_data = pd.read_csv('../data/criteria.csv')
attributes_data

  Criteria                             Name  Weight Ideally
0    Price                            Price  0.1859   Lower
1  Quality                          Quality  0.2788  Higher
2       EC               Energy Consumption  0.1115  Higher
3       GD                     Green Design  0.1394  Higher
4       DS                   Delivery Speed  0.0929  Higher
5      CSR  Corporate Social Responsibility  0.1115  Higher
6       EE               Employee Education  0.0796  Higher

In [3]:
benefit_attributes = set()
attributes = []
weights = []
n = 0

for i, row in attributes_data.iterrows():
    attributes.append(row['Criteria'])
    weights.append(row['Weight'])
    n += 1
    
    if row['Ideally'] == 'Higher':
        benefit_attributes.add(i)

In [4]:
pd.DataFrame(attributes, columns=['Criteria Name'])

  Criteria Name
0         Price
1       Quality
2            EC
3            GD
4            DS
5           CSR
6            EE

In [5]:
weights = np.array(weights)
pd.DataFrame(weights, columns=['Weights'])

   Weights
0   0.1859
1   0.2788
2   0.1115
3   0.1394
4   0.0929
5   0.1115
6   0.0796

In [6]:
original_dataframe = pd.read_csv('../data/alternatives.csv')
candidates = original_dataframe['Name'].to_numpy()
raw_data = pd.DataFrame(original_dataframe, columns=attributes).to_numpy()

dimensions = raw_data.shape
m = dimensions[0]
n = dimensions[1]

pd.DataFrame(data=raw_data, index=candidates, columns=attributes)

    Price  Quality   EC    GD   DS   CSR   EE
S1   10.0      4.0  8.0  10.0  2.0  0.70  8.0
S2    4.0      2.0  6.0   8.0  2.0  0.75  6.0
S3    1.0      1.0  8.0   6.0  2.0  0.65  6.0
S4   10.0     10.0  8.0  10.0  8.0  0.85  8.0
S5    2.0      4.0  6.0   6.0  2.0  0.75  6.0
S6   10.0      6.0  8.0   8.0  8.0  0.85  8.0

# Step 1 - Normalizing the ratings and weights

In [7]:
for j in range(n):
    column = raw_data[:,j]
    if j in benefit_attributes:
        raw_data[:,j] /= sum(column)
    else:
        column = 1 / column
        raw_data[:,j] = column / sum(column)

pd.DataFrame(data=raw_data, index=candidates, columns=attributes)

       Price   Quality        EC        GD        DS       CSR        EE
S1  0.048780  0.148148  0.181818  0.208333  0.083333  0.153846  0.190476
S2  0.121951  0.074074  0.136364  0.166667  0.083333  0.164835  0.142857
S3  0.487805  0.037037  0.181818  0.125000  0.083333  0.142857  0.142857
S4  0.048780  0.370370  0.181818  0.208333  0.333333  0.186813  0.190476
S5  0.243902  0.148148  0.136364  0.125000  0.083333  0.164835  0.142857
S6  0.048780  0.222222  0.181818  0.166667  0.333333  0.186813  0.190476

In [8]:
max_weight = max(weights)
weights /= max_weight

pd.DataFrame(data=weights, index=attributes, columns=['Weight'])

           Weight
Price    0.666786
Quality  1.000000
EC       0.399928
GD       0.500000
DS       0.333214
CSR      0.399928
EE       0.285509

# Step 2 - Calculating Dominance Degrees

In [9]:
# The loss attenuation factor
theta = 2.5

In [10]:
phi = np.zeros((n, m, m))

weight_sum = sum(weights)

for c in range(n):
    for i in range(m):
        for j in range(m):
            pic = raw_data[i,c]
            pjc = raw_data[j,c]
            val = 0
            if pic > pjc:
                val = math.sqrt((pic - pjc) * weights[c] / weight_sum)
            if pic < pjc:
                val = -1.0 / theta * math.sqrt(weight_sum * (pjc - pic) / weights[c])
            phi[c, i, j] = val

In [11]:
delta = np.zeros((m, m))
for i in range(m):
    for j in range(m):
        delta[i,j] = sum(phi[:,i,j])

pd.DataFrame(data=delta, index=candidates, columns=candidates)

          S1        S2        S3        S4        S5        S6
S1  0.000000 -0.023702 -0.234146 -1.230549 -0.294682 -1.003417
S2 -0.837781  0.000000 -0.588997 -1.912532 -0.453823 -1.573135
S3 -0.710805 -0.209910  0.000000 -1.677221 -0.145838 -1.475303
S4  0.462027  0.447525  0.082163  0.000000  0.281767  0.279501
S5 -0.648367  0.075691 -0.487870 -1.874022  0.000000 -1.632553
S6  0.138162  0.287098 -0.027055 -0.510168  0.144970  0.000000

# Step 3 - Calculate ratings from the normalised dominance degree values

In [12]:
delta_sums = np.zeros(m)
for i in range(m):
    delta_sums[i] = sum(delta[i,:])
pd.DataFrame(data=delta_sums,index=candidates,columns=['Sum'])

         Sum
S1 -2.786496
S2 -5.366268
S3 -4.219077
S4  1.552983
S5 -4.567120
S6  0.033007

In [13]:
delta_min = min(delta_sums)
delta_max = max(delta_sums)
pd.DataFrame(data=[delta_min, delta_max], columns=['Value'], index=['Minimum', 'Maximum'])

            Value
Minimum -5.366268
Maximum  1.552983

In [14]:
ratings = (delta_sums - delta_min) / (delta_max - delta_min)
pd.DataFrame(data=ratings, index=candidates, columns=['Rating'])

      Rating
S1  0.372840
S2  0.000000
S3  0.165797
S4  1.000000
S5  0.115496
S6  0.780327

# Step 4 - Create rankings based on calculated $\xi_i$ values

In [15]:
def rank_according_to(data):
    ranks = (rankdata(data) - 1).astype(int)
    storage = np.zeros_like(candidates)
    storage[ranks] = candidates
    return storage[::-1]

In [16]:
result = rank_according_to(ratings)
pd.DataFrame(data=result, index=range(1, m + 1), columns=['Name'])

  Name
1   S4
2   S6
3   S1
4   S3
5   S5
6   S2

In [17]:
print("The best candidate/alternative according to C* is " + str(result[0]))
print("The preferences in descending order are " + ", ".join(str(r) for r in result) + ".")

The best candidate/alternative according to C* is S4
The preferences in descending order are S4, S6, S1, S3, S5, S2.